name: CI
on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize]
env:
  TURBO_TELEMETRY_DISABLED: 1
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
jobs:
  checks:
    name: ${{ matrix.check }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        check: ['lint', 'lint:fs', 'test']
    steps:
      - name: Fetch Repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: 'package.json'
          cache: 'pnpm'
          cache-dependency-path: 'pnpm-lock.yaml'
      - name: Install Dependencies
        run: pnpm install
      - name: Build Packages
        run: pnpm run build
      - name: Lint Packages
        run: pnpm run lint
      - name: Lint FS
        run: pnpm run lint:fs
      - name: Test Packages
        run: pnpm run test
